body {
    background-color: hsl(0, 0%, 0%);
    backdrop-filter: blur(10px);
    background-image: 
        radial-gradient(circle at 15% 20%, rgba(50, 255, 9, 0.911), transparent 25%),    
        radial-gradient(circle at 15% 20%, rgba(50, 255, 9, 0.911), transparent 25%);
    background-attachment: fixed;
}

.header-title {
    color: #fff;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-family: 'Serif', Garamond;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    
}

.profile-info {
    text-align: left;
    color: #fff;
}

.content-card{
    background-color: rgba(17, 16, 16, 0.774);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    color: #fff;
    overflow-y: auto;
}

.top-bar {
  
    
    justify-content: space-between;
    display: flex;
    backdrop-filter: blur(10px);
}